body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

h1 {
  color: #333;
  text-align: center;
}

.add-mission {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  background-color: #ffffff;
}

.add-mission h3 {
  margin-top: 0;
}

.add-mission input,
.add-mission select,
.add-mission textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.add-mission button {
  color: white;
  background-color: green;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.add-mission button:hover {
  background-color: #45a049;
}

.mission-item {
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
  color: #000000;
  background-color: rgb(255, 0, 0);
}

.mission-item h3 {
  margin: 0;
}

.mission-item p {
  margin: 5px 0;
}

.mission-Progress {
  background-color: orange;
}

.mission-Complete {
  background-color: green;
}

.mission-item button {
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}

.mission-item .delete-button {
  background-color: rgb(0, 0, 0);
}

.mission-item .delete-button:hover {
  background-color: darkred;
}

.mission-item .progress-button {
  background-color: rgb(255, 119, 0);
}

.mission-item .progress-button:hover {
  background-color: rgb(5, 32, 238);
}

.mission-item .end-button {
  background-color: blue;
}

.mission-item .end-button:hover {
  background-color: darkblue;
}

.mission-button.completed {
  display: none;
}
.mission-button {
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 5px;
}
.mission-button.pending {
  background-color: blue;
}
